input {
    font-size:48pt;
    width:50px;
}

#pin-entry {
    margin-left:auto;
    margin-right:auto;
}

#pin-repeat-message {
    display:none;
}

#pin-error-message {
    display:none;
    color:red;
}