body {
    /* Shrink down the bootstrap default so that it fits into a browserAction */
    width:500px;   
}

#form-error-alert{
	display:none;
}

#step2 {
	display:none;
}

#step3 {
	display:none;
}