body {
    width:300px;
}

#pin-entry input {
    font-size:48pt;
    width:50px;
}

#clipboard-sandbox {
/*    visibility:hidden;*/
    width:1px;
    height:1px;
    opacity:0;
}

#pin-entry {
    margin-left:auto;
    margin-right:auto;
}

#pin-repeat-message {
    display:none;
}

#pin-error-message {
    display:none;
    color:red;
}