body {
    background: -webkit-linear-gradient(top, #707070 0%,#3A3A3C 100%);
    font-size:9pt;
    color:white;
    font-family: "Lucida Grande",sans-serif;
    
    margin:0;
    padding:0;
}

a {
    color:red;
}
  
/*  Modified from bootstrap.css .btn*/
button {
    background: -webkit-linear-gradient(top, #4b4b4b 0%,#191919 100%);

    border: 0;
    vertical-align :middle;
    
    
    padding: 4px 6px;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3);
    
    margin-bottom: 4px;
    *margin-left: .3em;
    font-size: 9pt;
    color: white;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-repeat: repeat-x;
    *border: 0;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 8px;
    *zoom: 1;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
  
button:hover {
    background: -webkit-linear-gradient(top, #191919 0%,#4b4b4b 100%);
}

.gombot-head {
    margin-right:20px;
}

#never-for-this-site-button {
    background:#616161;
    color:#bbb;
}

#never-for-this-site-button:hover {
    background:#313131;
}

input.pin-digit {
    background: -webkit-linear-gradient(top, #505050 0%,#2A2A2A 100%);
    border:1px #3e3e3e;
    width:20px;
    height:25px;
    border-radius:5px;
    color:white;
    box-shadow:inset 0 0 4px #2A2A2A;
    margin-top:3px;
    padding-left:6px;
}

input.pin-digit.wrong-pin {
    background: -webkit-linear-gradient(top, #a00000 0%,#2A2A2A 100%);
    border:1px #720000;
}

#infobar-close-button {
    float:right;
    text-decoration:none;
    font-family:helvetica;
    margin-top:6px;
    margin-right:10px;
    background:black;
    border-radius:4px;
    background:-webkit-linear-gradient(top, #4b4b4b 0%,#191919 100%);
    color:#ccc;
    padding:3px;
}

#infobar-close-button:hover {
    background:-webkit-linear-gradient(top, #191919 0%,#4b4b4b 100%);
}

#infobar-container {
    width:50em;
    height:100%;
    
    float:left;
}

#pin-entry {
    margin-left:20px;
}
